.venv
target/debug
target
__pycache__/
*.pyc
/build/initramfs*
/build/iso
/build/the-machine.iso
/build/*.cpio*
/build/vmlinuz*
/build/verify-wheels
/build/artifacts
/build/coverage.lcov
/build/tools

